<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org" xmlns:layout=""
	layout:decorate="~{layouts/admin-layout}">
<head>
<title>Brand</title>
</head>
<body>
	<div layout:fragment="content" class="container pt-5 pb-5">
		<h1>Thêm mới thương hiệu</h1>
		<hr>
		<form th:action="@{/admin/brand}" th:object="${brand}"
			th:method="POST">
			<div class="form-group">
				<div>Tên thương hiệu</div>
				<input type="text" th:field="*{name}" class="form-control">
			</div>
			<div class="form-group">
				<div>Logo</div>
				<input type="text" th:field="*{logo}" class="form-control">
			</div>
			<div class="form-group">
				<button class="btn btn-primary">Thêm</button>
			</div>
		</form>
	</div>
</body>
</html>