<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org" xmlns:layout=""
	layout:decorate="~{layouts/admin-layout}">
<head>
<title>Brand</title>
</head>
<body>
	<div layout:fragment="content" class="container pt-5 pb-5">
		<div class="row">
			<a th:href="@{/admin/brand}" id="create-btn"
				class="btn btn-large btn-primary mb-2"
				th:text="#{admin.brand.button.add}">Thêm mới</a>
			<table class="table table-sm table-bordered">
				<thead>
					<tr>
						<th th:text="#{admin.brand.table.column.id}">ID</th>
						<th th:text="#{admin.brand.table.column.brand}">Brand name</th>
						<th th:text="#{admin.brand.table.column.action}"
							style="width: 100px">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="brand : ${brands}">
						<td th:text="${brand.id}">ID</td>
						<td th:text="${brand.name}">name</td>
						<td class="text-center"><a
							th:href="@{/admin/brand/__${brand.id}__}"
							class="btn btn-warning edit-btn" th:utext="#{icon.edit}"></a>
							<button th:data-id="${brand.id}"
								class="btn btn-danger remove-btn" th:utext="#{icon.remove}"></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<th:block layout:fragment="script">
		<script th:src="@{/js/delete-brand.js}"></script>
	</th:block>
</body>
</html>