<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Navbar</title>
</head>
<body>

	<nav th:fragment="user"
		class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">

		<a class="navbar-brand" href="#" th:href="@{/}"
			th:text="#{global.brand.title}">Anh Văn Mobile</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarText" aria-controls="navbarText"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#" th:href="@{/}"
						th:text="#{user.navbar.home}"> Home </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" th:href="@{/about}"
						th:text="#{user.navbar.about}"> Giới thiệu </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" th:href="@{/products}"
						th:text="#{user.navbar.product}"> Sản phẩm </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" th:href="@{/contact}"
						th:text="#{user.navbar.contact}"> Liên hệ </a>
				</li>
			</ul>
			<span class="navbar-text"> </span>
		</div>
	</nav>


	<nav th:fragment="admin"
		class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
		<a class="navbar-brand" th:href="@{/}" th:text="#{global.brand.title}">Anh
			Văn Mobile</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarText" aria-controls="navbarText"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#" th:href="@{/admin/dashboard}"
						th:text="#{admin.navbar.dashboard}"> Trang tổng hợp </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" th:href="@{/admin/user-manager}"
						th:text="#{admin.navbar.usermgr}"> Quản lý sản phẩm </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" th:href="@{/admin/order-manager}"
						th:text="#{admin.navbar.ordermgr}"> Quản lý đơn hàng </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" th:href="@{/admin/product-manager}"
						th:text="#{admin.navbar.productmgr}"> Quản lý sản phẩm </a>
				</li>
			</ul>
			<span class="navbar-text"> </span>
		</div>
	</nav>

</body>
</html>