<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org" xmlns:layout=""
	layout:decorate="~{layouts/admin-layout}">
<head>
<title>Trang tổng hợp</title>
</head>
<body>

	<div layout:fragment="content">
		<div class="container pt-5 pb-5">
			<table class="table table-sm">
				<thead>
					<tr>
						<th>ID</th>
						<th>Người nhận hàng</th>
						<th>Số điện thoại</th>
						<th>Địa chỉ giao giao hàng</th>
						<th>Thời gian đặt hàng</th>
						<th>Trạng thái</th>
						<th>Hành động</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="order : ${orders}">
						<td th:text="${order.id}"></td>
						<td th:text="${order.customerName}">Người nhận hàng</td>
						<td th:text="${order.phoneNumber}">Số điện thoại</td>
						<td th:text="${order.address}">Địa chỉ giao giao hàng</td>
						<td
							th:text="${#dates.format(order.createdTime, 'dd/MM/yyyy hh:mm:ss')}">Thời
							gian đặt hàng</td>
						<td th:text="${order.status}">Trạng thái</td>
						<td>
							<a class="btn btn-warning" th:href="@{/admin/order/__${order.id}__}"
								th:utext="#{icon.edit}">Sửa</a>
							<button class="btn btn-danger remove-btn" th:utext="#{icon.remove}">Xóa</button>
						</td>
					</tr>
				</tbody>
			</table>
			<nav aria-label="page"
				th:remove="${#lists.size(pagination.controls)}<=1 ? 'ALL' ">
				<ul class="pagination">
					<li class="page-item"
						th:each="control, controlStat: ${pagination.controls}"
						th:classappend="${control.actived} ? 'active'">
						<a class="page-link"
							th:href="${control.page}==1 ? @{/admin/orders} : @{/admin/orders(page=__${control.page}__)}"
							th:text="${control.label}">1</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>

</body>
</html>